## Waze project

#### This project uses a dataset called waze_dataset.csv. It contains synthetic data created for this project in partnership with Waze.
##### The buisness question 
 They would like a statistical analysis of ride data based on device type. In particular, leadership wants to know if there is a statistically significant difference in mean amount of rides between iPhone® users and Android™ users.

In [13]:
# import all the necessary packges to counduct explanotry data analysis 
import pandas as pd
import numpy as np 
from scipy import stats

In [17]:
waze_data = pd.read_csv(r"C:\Users\adnan\Downloads\waze_dataset.csv")

In [19]:
# take an overview about the data 
waze_data.head()

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
0,0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android
1,1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone
2,2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android
3,3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone
4,4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android

In [23]:
waze_data.tail()

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
14994,14994,retained,60,55,207.875622,140,317,0,2890.496901,2186.155708,25,17,iPhone
14995,14995,retained,42,35,187.670313,2505,15,10,4062.575194,1208.583193,25,20,Android
14996,14996,retained,273,219,422.017241,1873,17,0,3097.825028,1031.278706,18,17,iPhone
14997,14997,churned,149,120,180.524184,3150,45,0,4051.758549,254.187763,6,6,iPhone
14998,14998,retained,73,58,353.419797,3383,13,51,6030.498773,3042.436423,14,13,iPhone

In [25]:
waze_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       14999 non-null  int64
 1   label                    14299 non-null  object
 2   sessions                 14999 non-null  int64
 3   drives                   14999 non-null  int64
 4   total_sessions           14999 non-null  float64
 5   n_days_after_onboarding  14999 non-null  int64
 6   total_navigations_fav1   14999 non-null  int64
 7   total_navigations_fav2   14999 non-null  int64
 8   driven_km_drives         14999 non-null  float64
 9   duration_minutes_drives  14999 non-null  float64
 10  activity_days            14999 non-null  int64
 11  driving_days             14999 non-null  int64
 12  device                   14999 non-null  object
dtypes: float64(3), int64(8), object(2)
memory usage: 1.5+ MB

In [29]:
waze_data['device'].value_counts()

device
iPhone     9672
Android    5327
Name: count, dtype: int64

In [31]:
waze_data['label'].value_counts()

label
retained    11763
churned      2536
Name: count, dtype: int64

In [35]:
waze_data['drives']

0        226
1        107
2         95
3         40
4         68
        ...
14994     55
14995     35
14996    219
14997    120
14998     58
Name: drives, Length: 14999, dtype: int64

In [43]:
waze_data.groupby('device')['drives'].mean()

device
Android    66.231838
iPhone     67.859078
Name: drives, dtype: float64

In [65]:
# isolate drives column for iPhone devices 
iPhone = waze_data[waze_data['device']=='iPhone']['drives']
# isolate drives column for Android devices 
Android = waze_data[waze_data['device']== 'Android']['drives']
# coundcting ttest to distinguesh is there a significant difference between the two devices 
stats.ttest_ind(a= iPhone , b= Android, equal_var= False)

TtestResult(statistic=1.463523206885235, pvalue=0.143351972680206, df=11345.066049381952)

#### Since  the p_value is less than (%5) that we fail to reject the null hypothesis , which mean there is no statisticaly evedance to say that there is a difference in the averge number of drivres between thoese who use iPhone and drivres who use Android

### Comunicating the insight with the  stackholder :
* The key business insight is that drivers who use iPhone devices on average have a similar number of drives as those who use Androids.
* One potential next step is to explore what other factors influence the variation in the number of drives, and run additonal hypothesis tests to learn more about user behavior. Further, temporary changes in marketing or user interface for the Waze app may provide more data to investigate churn.